
h1 {
    padding-top: 30px;
    margin-bottom: 2rem;
}

.weight-graph {
    margin: 2rem auto;
    max-width: 600px;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .add-weight-form {
    margin: 2rem auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .add-weight-form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .add-weight-form button {
    padding: 0.5rem;
    background-color: #E43D12;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-weight-form button:hover {
    background-color: #d02e0f;
  }

  .weight-records {
    margin: 2rem auto;
    max-width: 600px;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .weight-records ul {
    list-style: none;
    padding: 0;
  }
  
  .weight-records li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .weight-records button {
    padding: 0.25rem 0.5rem;
    background-color: #e43d12;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .weight-records button:hover {
    background-color: #d02e0f;
  }
  
  
  .delete-button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #e43d12;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #d02e0f;
  }
  
    